<!DOCTYPE html>
<html lang="ru" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>WacoLauncher - Логин</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet"> <!-- Подключение шрифта Rubik -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> <!-- Подключение Google Icons -->
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet"> <!-- Подключение шрифта "Press Start 2P" -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css"> <!-- Подключаем файл со стилями -->
</head>
<body>

<div class="header" id="header" style="display: none; position: absolute; border-bottom: 0">
    <button class="btn-settings" onclick="open_tab('index.html')">
        <span class="material-icons icon-settings">home</span> <!-- Иконка настроек -->
        Главная <!-- Текст кнопки "Настройки" -->
    </button>
</div>

<div class="container-login">
    <div class="login-form">
        <h1 class="h3 mb-3 fw-normal">Войдите в ваш аккаунт WacoRP</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="input_login_nickname" placeholder="Никнейм">
            <label for="input_login_nickname">Никнейм</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="input_login_password" placeholder="Пароль">
            <label for="input_login_password">Пароль</label>
        </div>

        <button class="btn btn-primary w-100 py-2" id="btn_login" disabled>Войти</button>
        <button class="btn btn-secondary w-100 py-2" onclick="open_tab('register.html')">Регистрация</button>
    </div>
</div>

<!--Модальное меню-->
<div class="modal fade" id="info_modal" tabindex="-1" aria-labelledby="info_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="info_modal_label">Ошибка</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="info_modal_text">
                <!-- Текст ошибки будет подставлен сюда -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="../static/javascript/main.js"></script>
<script src="../static/javascript/login.js"></script>
</body>
</html>